@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

body, html {
  height: 100%;
  min-height: 100vh;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #fff;
  background-color: #000;
  letter-spacing: 0.01em;
}

* {
  border-color: transparent;
  box-shadow: none;
  outline-style: none;
}