$tablet: 1000px;

.wrapper {
  position: relative;
  min-height: 176px;
  min-width: 320px;
  padding-bottom: 144px;
  padding-top: 8px;
  overflow: hidden;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: 'Syncopate', sans-serif;
}

.header {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 6rem;
  background: linear-gradient(rgb(30 2 251), rgb(30 2 251 / 48%), rgb(30 2 251 / 0%));
  white-space: nowrap;
}

.header__title {
  position: absolute;
  display: inline-block;
  margin: 0;
  top: 2rem;
  font-size: 4rem;
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.intro__title {
  text-align: center;
  color: #ef3844;
}

.section {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  & + .section {
    border-top: none;
  }

  &__content {
    max-width: 1000px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    @media (max-width: $tablet) {
      flex-direction: column;
      padding: 0;
    }
  }

  &__left {
    padding: 1rem;
    border-right: 1px solid #fff;
    @media (max-width: $tablet) {
      border-right: none;
      display: flex;
      justify-content: center;
    }
  }

  &__right {
    padding: 1rem;
    @media (max-width: $tablet) {
      padding: 2rem;
      border-top: 1px solid #fff;
    }
  }
}

.info {
  font-family: monospace;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hash {
  font-size: 0.8rem;
}

.button {
  position: relative;
  font-size: 1.2rem;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  &:hover {
    background: blue;
  }
  &:active {
    top: 1px;
  }
}
